<header>
    <nav>
        <kendo-autocomplete class="searchBar"
            placeholder="Chercher par Nom" 
            [data]="this.pokemonService.filterPokemon"
            [filterable]="true"
            valueField="name"
            (filterChange)="this.pokemonService.pokemonFilter($event)"
            (valueChange)="this.pokemonService.pokemonFilter($event)">
        </kendo-autocomplete>
    </nav>
</header>

<div class="pokemons-content">
    <table class="pokemons-table">
        <tr>
            <td>Name</td>
            <td>Index</td>
            <td>Sprite Front</td>
            <td>Sprite Back</td>
            <td>Types</td>
            <td>Informations</td>
            <td>Modifier</td>
            <td class="reset"><button (click)="resetPokemonData()">Reset All</button></td>
        </tr>
        <tr *ngFor="let pokemon of this.pokemonService.filterPokemon" class="pokeApi">
            <td>{{pokemon.name | titlecase}}</td>
            <td>N°{{pokemon.id}}</td>
            <td><img [src]="pokemon.spriteFrontUrl" alt="pokemon"></td>
            <td><img [src]="pokemon.spriteBackUrl" alt="pokemon"></td>
            <td><div  *ngFor="let pokemontypes of pokemon.type">{{pokemontypes | titlecase}}</div></td>
            <td><button (click)="onClickInformationPokemon(pokemon)">Informations</button></td>
            <td><button (click)="onClickModifierPokemon(pokemon)">Modifier</button></td>
        </tr>
    </table>
</div>

<app-pokemon-preview #mypokpreview
[dataPokemon]="pokemonSelected"
[windowDisplay]="informationButtonStatue" 
(windowDisplayChange)="onWindowPreviewStateChange($event)" 
class="dataWindow">
</app-pokemon-preview>

<app-pokemon-form
[dataPokemon]="pokemonSelected" 
[dialogDisplay]="modifButtonStatus"
(windowDisplayChange)="onWindowPreviewStateChange($event)">
</app-pokemon-form>
