.pokemon-data-grid {
   width: 800px;
   height: 500px;
   display: grid;
   grid-template-rows: 12%[row1] repeat(3, 25%)[row2 row3] 10%[row4];
   align-content: space-between;

   >div {
      border: solid 1px rgb(240, 121, 121);
      display: grid;

      >div:not(:last-child), img:not(:last-child) {
         border-right: rgb(240, 121, 121) 1px solid;

         h1 {
            margin: 0%;
         }
      }

      >div, img {
         margin-left: 1rem;
      }
   }

   .row1 {
      grid-template-columns: repeat(3, calc(100%/3));

      .type-section {
         display: flex;
      }
   }

   .row2 {
      grid-template-columns: repeat(2, calc(100%/3) calc(100% - 100%/3));

      .stats {
         display: flex;
         justify-content: space-between;

         .base-stats {
            margin-right: 1rem;
         }
      }

      .abilities-section {
         display: flex;
         flex-direction: column;

         .abilities {
            margin-bottom: 1rem;
         }

         .abilities, .hidden-abilities {
            display: flex;
         }
      }
   }

   .row3, .row4{
      grid-template-columns: repeat(2, 15%);
      place-items: center;

      img {
         width: 100%;
      }
   }

   .row5 {
      grid-template-columns: repeat(2, 2fr);
   }

   .row1, .row2, .row5 {
      place-items: center stretch;
   }
}