<kendo-dialog 
title="{{dataPokemon?.name | titlecase}}"
*ngIf="dialogDisplay" 
(close)="closeFormWindow()">
    <form [formGroup]="pokemonFormGroup">
        <div>
            <div>Name</div>
            <input type="text"
            formControlName="name"/>
            <kendo-formerror 
            *ngIf="pokemonFormGroup.controls['name'].errors?.['required']">Please enter a name
            </kendo-formerror>    
        </div>
        <div>
            <div>Type</div>
            <kendo-multiselect
            [data]="this.pokemonService.filterType" 
            [filterable]="true"
            (filterChange)="this.pokemonService.typeFilter($event)"
            formControlName="type"
            class="multi-select-bar">
            </kendo-multiselect>
            <kendo-formerror *ngIf="pokemonFormGroup.controls['type'].errors?.['maxLength']">
                Choose type < 3
            </kendo-formerror>
            <kendo-formerror 
            *ngIf="pokemonFormGroup.controls['type'].errors?.['required']">Please enter a type
            </kendo-formerror>   
        </div>
    </form>
    <kendo-dialog-actions>
        <button kendoButton (click)="cancelPokemonDataChange()">Annuler</button>
        <button kendoButton class="k-primary" (click)="validatePokemonDataChange()">Valider</button>
    </kendo-dialog-actions>
</kendo-dialog>
